@import '~bootstrap/scss/bootstrap.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --second-color: #FF4B4B;
    --second-color-alt: #ff4b4b2c;
    --second-color-light: #ff9c9c;
    --third-color: #5D9285;
    --fouth-color: #7074BF;
    --gray: #DCDCDC;
    --black: #1C1C1C;

}

/* COLORS */

.forth-bg {
    background-color: var(--fouth-color) !important;
    color: #fff;
}

.forth-color {
    color: var(--fouth-color) !important;
}

.third-bg {
    background-color: var(--third-color) !important;
    color: #fff;
}

.third-color {
    color: var(--third-color) !important;
}

.second-bg {
    background-color: var(--second-color) !important;
    color: #fff;
}

.second-color {
    color: var(--second-color-color) !important;
}

.gray-bg {
    background-color: #898989 !important;
    color: #fff;
}

#logo {
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--gray);
    height: 70vh;
    overflow: hidden;
    position: relative;
    background-color: #000;
}

.opacity-7 {
    opacity: .7 !important;
}

.header-planes {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--gray);
    height: 50vh !important;
    overflow: hidden;
    position: relative;
}

.header-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: .9;
}

img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.header-content {
    z-index: 5;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.header-content h1 {
    font-size: 2.5rem;
    text-align: center;
}

.header-content p {
    font-size: 1.4rem;
    color: #c8c8c8;
    text-align: center;
}

.search-bar {
    display: flex;
    width: 100%;
    margin: 1rem 0;
}

.search-bar button {
    width: 60px;
    height: 40px;
    background-color: var(--second-color);
    border: none;
}

.search-bar input {
    width: 100%;
    border: none;
    background-color: #ffffff89;
}

.search-bar input::placeholder {
    color: #fff;
}

#categories {
    display: flex;
    padding: 0 3rem;
    width: 100%;
    height: 420px;
}

#categories .category {
    width: 0px;
    flex-grow: 1;
    transition: .5s ease;
    background-color: #000;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#categories .category img {
    object-fit: cover;
    height: 100%;
    opacity: .8;
    position: absolute;
    top: 0;
    left: 0;
}

#categories .category span {
    color: #dedede;
    z-index: 99;
    font-style: italic;
    font-size: 1.4rem;
}

#categories .category:hover {
    cursor: crosshair;
    width: 300px;
}

#categories .category:hover img {
    opacity: 1;
    filter: contrast(120%);
}

.sub-title {
    width: 100%;
    padding: 3rem;
}

.sub-title h2 {
    font-size: 2rem;
}

.sub-title p {
    font-size: 1.2rem;
    color: #5e5e5e;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Work index section */

#works-index {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 3rem;
    grid-gap: 2rem;
    margin-bottom: 5rem;
}

#works-index > :first-child {
    grid-column: span 2;
}

.work-card .user-picture {
    width: 40px;
    height: 40px;
    background-color: #5e5e5e;
    margin-right: 1rem;
}

.work-card .user-info {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.work {
    width: 100%;
    height: 300px;
    background-color: #232323;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        z-index: 20;
        display: none;
        color: #fff;
        transition: .3s ease-out;
    }

    .img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: .3s ease-out;
        }
    }

    &:hover {

        span {
            display: flex;
        }

        img {
            opacity: .5;
        }

    }
}

.mt-2 {
    margin-top: 2rem !important;
}

footer {
    width: 100%;
    background-color: #212121;
    height: 350px;
}

#welcome {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-main-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.welcome-modal {
    width: 60%;
    height: 80%;
    background-color: #000000b7;
    z-index: 7;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome-modal h1 {
    font-size: 3rem;
    text-align: center;
    line-height: 60px;
    margin-bottom: 1.3rem;
}

.welcome-modal p {
    font-size: 1.3rem;
    text-align: center;
    color: #b6b6b6;
}

.boton {
    padding: 8px 24px;
    margin: 0 .5rem;
}

.boton-secondary {
    background-color: var(--second-color);
}

.boton-secondary-line {
    border: 1px solid var(--second-color);
}

.authentication-btns {
    margin: 1rem 0;
}

#plans {
    position: relative;
    height: 100%j;
}

.plans {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    background-color: transparent;
    align-items: center;
    padding-bottom: 5rem;
    position: absolute;
    top: 70%;
}

.plan-card {
    background-color: #F7F7F7;
    width: 400px;
    height: 550px;
    border-radius: 5px;
    padding: 1.5rem;
    box-shadow: 12px 11px 31px -4px rgba(0,0,0,0.08);
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.plan-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.plan-header h3 {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.plan-header p {
    color: #898989;
    font-size: 2rem;
}

.plan-header p span {
    color: #000;
    font-weight: 500;
}

.boton-bg {
    width: 100%;
    padding: 1rem 0;
    font-size: 1.2rem;
}

.characteristy {
    width: 100%;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
}

.check {
    width: 23px !important;
    height: 23px !important;
    border-radius: 25px;
    background-color: #D2D1D1 !important;
    margin: 5px 0;
}

.characteristy p {
    margin-left: 1rem;
    width: 90%;
    color: #5e5e5e;
}

.characteristy p span {
    font-weight: 600;
    color: #000;
}

/* Media query para pantallas pequeñas (teléfonos, etc.) */
@media only screen and (max-width: 600px) {
    #works-index {
        grid-template-columns: 1fr;
    }

    #works-index > :first-child {
        grid-column: span 1;
    }
}

/* Media query para pantallas medianas (tabletas, etc.) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    #works-index {
        grid-template-columns: 1fr 1fr;
    }

    #works-index > :first-child {
        grid-column: span 2;
    }
}

/* Media query para pantallas grandes (computadoras de escritorio, etc.) */
@media only screen and (min-width: 1025px) {
    /* Estilos para pantallas grandes */
}

/* Admin bar */


#admin-dashboard {
    display: flex;
    height: 91vh;
}

#admin-dashboard aside {
    display: flex;
    flex-direction: column;
    width: calc(2rem + 32px);
    height: 100%;
    overflow: hidden;
    padding: 1rem;
    background-color: #212121;
    color: aliceblue;
    transition: 0.2s ease-out;

    button {
        text-align: center;
    }

    h3, .button .text {
        opacity: 0;
        transition: 0.3s ease-out;
    }

    h3 {
        color: rgb(122, 122, 122);
        text-transform: uppercase;
        margin-top: 2rem
    }

    .menu {
        margin: 0 -1rem;

        .button {
            display: flex;
            align-items: center;
            text-decoration: none;
            padding: 0.5rem 1.2rem;
            transition: 0.2s ease-out;

            .material-symbols-outlined {
                font-size: 1.5rem;
                transition: 0.2s ease-out;
            }

            .text {
                color: #d1d1d1;
                transition: 0.2s ease-out;
            }

            &:hover {
                background-color: var(--second-color-alt);
                border-right: 5px solid var(--second-color);

                .material-symbols-outlined, .text {
                    color: var(--second-color-light);
                }
            }

        }
    }

    &.is-expanded {
        width: 300px;

        h3, .button .text {
            opacity: 1;
        }

        button {
            text-align: right;
        }

        .menu {
            .material-symbols-outlined {
                margin-right: 1rem;
            }
        }
    }

    @media (max-width: 768px) {
        position: fixed;
        z-index: 99;
    }
}

.admin-content {
    padding: 2rem;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.admin-header {

    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 2rem;
    padding: 1rem 0;

    h2 {
        font-size: 2rem;
    }

}

.basic-succes-btn {
    padding: 5px 15px !important;
    background-color: var(--third-color) !important;
    color: #fff !important;
}

.basic-fouth-btn {
    padding: 8px 15px !important;
    background-color: var(--fouth-color) !important;
    color: #fff !important;
}

.basic-black-btn {
    padding: 8px 15px !important;
    background-color: var(--black) !important;
    color: #fff !important;
}

.basic-gray-btn {
    padding: 5px 15px !important;
    background-color: #d7d7d7 !important;
    color: #5e5e5e !important;
}

/* Paginator */

.paginator {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.p-link {
    background-color: #DCDCDC;
    margin: 0 .3rem;
    padding: 8px 15px;
    cursor: pointer;
}

.num-p-link {

    &:hover {
        background: var(--second-color);
        color: #fff;
    }
}

.side-p-link {
    background-color: var(--black);
    color: #fff;
}

/* profile */

.fit-content {
    width: fit-content;
}

.edit-top-btn {
    width: 45px;
    height: 45px;
    background-color: var(--fouth-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.trash-top-btn {
    width: 45px;
    height: 45px;
    background-color: var(--second-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    text-align: center;
}

.user-photo-o {
    width: 50px;
    height: 50px;
    overflow: hidden;
    background-color: #5e5e5e;
    border-radius: 25px;
    margin-right: .7rem;
}

.profile-manager {

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    header {

        padding: 3rem;

        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .profile-photo {
            width: 250px;
            height: 250px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.4rem;
            background-color: rgb(228, 228, 228);
            color: #818181;
            position: relative;
        }

        .content {
            width: fit-content;
            padding: 0 2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-width: 300px;

            h3 {
                font-size: 2.5rem;
            }

            .user-social-medias {
                display: flex;
                padding: 1rem 0;

                .social-media {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background: transparent;
                    margin-right: .5rem;
                    overflow: hidden !important;
                    box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.28);
                    transition: .2s ease-out;
                    cursor: pointer;
                    position: relative;

                    &:hover {
                        width: 50px;
                        height: 50px;

                        .remove {
                            display: flex !important;
                        }
                    }

                    .remove {
                        display: none !important;
                        width: 100%;
                        height: 100%;
                        background-color: #00000060;
                        color: #Fff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        top: 0;
                        right: 0;
                        z-index: 30;
                        transition: .3s ease-out;
                    }
                }

                .add {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background: var(--third-color);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.28);
                    cursor: pointer;

                    transition: .2s ease-out;

                    &:hover {
                        width: 50px;
                        height: 50px;
                    }
                }
            }

            .add-social-media-form {
                display: grid;
                grid-template-columns: 3fr 3fr 1fr;
                align-items: end;
                grid-gap: 1rem;
                width: 700px;
                padding: 2rem 0;

                .add-sm {
                    background-color: var(--third-color);
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 10px 20px;
                    height: 41.6px;
                }
            }

            .user-actions {
                display: flex;

                button {
                    display: flex;
                    padding: 8px 18px;
                    background: #5e5e5e;
                    color: #fff;
                    margin-right: 1rem;
                    font-size: 1rem;
                    font-weight: 400 !important;
                }

                .curri {
                    background-color: var(--black);

                    span {
                        margin-left: 1rem;
                    }
                }

                .about {
                    background-color: var(--fouth-color);
                }

                .subs {
                    background-color: var(--third-color);

                    span {
                        margin-left: 1rem;
                    }
                }
            }
        }

        @media (max-width: 768px) {

            padding: 2rem;

            .profile-photo {
                width: 100% !important;
                height: 300px !important;
            }

            .content {
                width: 100% !important;
                padding: 0 !important;
                align-items: center;
                margin-top: 2rem;

                .add-social-media-form {
                    grid-template-columns: 1fr;
                    width: 100%;
                    padding: 2rem 0;
                }

            }
        }

    }

    .about {
        display: flex;
        padding: 3rem;
        justify-content: space-between;

        .about-image {
            position: relative;
            height: 400px;
            width: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.4rem;
            background-color: rgb(228, 228, 228);
            color: #818181;
        }

        .about-form {
            height: 400px;
            padding-right: 2rem;
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h3 {
                font-size: 1.9rem;
            }

            textarea {
                width: 100%;
                border-radius: 5px;
            }
        }

        @media (max-width: 760px) {

            flex-direction: column;

            .about-image {
                width: 100%;
            }

            .about-form {
                width: 100%;
                padding: 0;
                margin-bottom: 2rem;
            }

        }

    }

    .about-show {

        width: 100%;
        background: var(--black);
        color: #fff;
        display: grid;
        min-height: 500px;
        grid-template-columns: 2fr 1fr;

        .about-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 5rem;

            h3 {
                font-size: 2.5rem;
                color: #92BDFF;
            }

            p {
                font-size: 1.1rem;
                font-weight: 300;
                color: #cfcdcd;
                text-align: justify;
                margin-top: 2rem
            }

        }

        @media (max-width: 800px) { grid-template-columns: 1fr; }

    }

    .user-projects {

        padding: 3rem;

        .head {
            display: flex;
            width: 100%;
            justify-content: space-between;

            h3 {
                font-size: 1.9rem;
            }
        }

        .head-show {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1rem;

            h3 {
                font-size: 2rem;
            }

            p {
                font-size: 1.3rem;
                color: #5e5e5e;
            }
        }

        .projects-grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 2rem;
            padding: 2rem 0;

            .card-p {
                height: 300px;
                overflow: hidden;
                background: gainsboro;
                position: relative;

                .actions {
                    display: none;
                    grid-template-columns: repeat(3, 1fr);
                    grid-gap: 5px;
                    padding: 5px;
                    background-color: var(--black);
                    color: #fff;
                    width: fit-content;
                    position: absolute;
                    top: 0;
                    right: 0;
                    transition: .3s ease-out;


                    div {
                        width: 40px;
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: palevioletred;
                        cursor: pointer;
                        transition: .2s ease-out;

                        &:hover {
                            opacity: .8;
                        }
                    }

                    .show-btn {
                        background-color: #fff;
                        color: #000;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .edit-btn {
                        background-color: var(--fouth-color);
                        color: #fff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .delete-btn {
                        background-color: var(--second-color);
                        color: #fff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

                &:hover {
                    .actions {
                        display: grid;
                    }
                }

            }

            @media (max-width: 1300px) { grid-template-columns: repeat(3, 1fr); }
            @media (max-width: 1060px) { grid-template-columns: 1fr 1fr; }
            @media (max-width: 800px) { grid-template-columns: 1fr; }
        }
    }

    .references {

        padding: 3rem;

        display: flex;
        flex-direction: column;
        width: 100%;

        .head {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: 2rem;

            h3 {
                font-size: 2rem;
                text-align: center;
            }

            p {
                font-size: 1.2rem;
                text-align: center;
            }

        }

        .references-grid {
            padding: 3rem 0;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 2rem;

            .card-ref {
                height: 230px;
                background: #F3F3F3;
                padding: 1rem;
                box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.28);

                .card-ref-head {
                    display: flex;
                    justify-content: space-between;
                }

                .user-data {
                    display: flex;
                    align-items: center;

                    span {
                        font-size: 1.2rem;
                    }
                }

                p {
                    padding: 1rem 0;
                    color: #818181;
                }

            }

            @media (max-width: 1300px) { grid-template-columns: repeat(3, 1fr); }
            @media (max-width: 1060px) { grid-template-columns: 1fr 1fr; }
            @media (max-width: 800px) { grid-template-columns: 1fr; }
        }

        .add-reference {
            display: flex;
            justify-content: space-between;
            margin-top: 2rem;

            button {
                height: fit-content;
            }

            textarea {
                width: 80%;
                height: 100px;
                border-radius: 5px;
            }
        }
    }

}

/* Project view */

.project-view {
    padding: 3rem;

    h2 {
        font-size: 1.7rem;
    }

    textarea {
        border: 1px solid #e8e8e8 !important;
        border-radius: 5px;
        width: 100%;
    }

}

.project-image-view {
    width: 100%;
    height: 500px;
    margin-bottom: 2rem;


}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin: 2rem 0 1rem 0;

    @media (max-width: 1060px) { grid-template-columns: 1fr; }
}

.input-p {

    span {
        font-size: 16px;
    }

    input {
        margin-top: 5px;
        border: 1px solid #e8e8e8 !important;
    }

}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 3rem;
}

thead {
    background-color: #1C1C1C;
    color: white;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tbody tr:hover {
    background-color: #f5f5f5;
}

.no-content {
    width: 100%;
    height: 250px;
    background-color: #edededc5;
    color:#5e5e5e;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}

.project-show-view {
    padding: 3rem;

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        h2 {
            font-size: 2rem;
        }

        .gray-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            background-color: #d7d7d7 !important;
            color: #5e5e5e !important;
        }
    }

    .project {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .image {
            width: 100%;
            height: auto;
        }

        @media (max-width: 1060px) {
            grid-template-columns: 1fr;

            .description {
                padding: 0;
                margin-top: 2rem;

                p {
                    height: auto;
                    overflow: visible;
                }
            }
        }
    }

    .description {

        padding: 0 0 0 2rem;

        h3 {
            font-size: 1.7rem;
        }

        p {
            margin: 1rem 0;
            min-height: 310px;
            max-height: 310px;
            overflow-y: scroll;
        }

        .tags {
            display: flex;
            padding: 1rem 0;

            span {
                padding: 3px 10px;
                background-color: var(--second-color-light);
                color: #ffffff;
                margin-right: .7rem;
            }
        }

        .actions {

            border-top: 1px solid rgb(221, 221, 221);
            padding: .5rem 0;

            display: flex;

            div {
                display: flex;
                align-items: center;
                font-size: 1.2rem;
                margin-right: .6rem;
                cursor: pointer;

                span {
                    margin-right: .4rem;
                }
            }
        }

    }

    .comments {

        h3 {
            font-size: 1.7rem;
            width: 100%;
            padding: 1.5rem 0;
        }

        .comment-sec {
            display: grid;
            grid-template-columns: 1fr 2fr;

            .input {

                padding: 0 2rem 0 0;

                textarea {
                    width: 100%;
                    height: 200px;
                }

            }

            .comments-square {
                padding: 0 0 0 2rem;
                border-left: 1px solid #dddddd;

                .comment {

                    .coment-header {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .delete {
                            color: var(--second-color);
                            cursor: pointer;
                        }
                    }

                    .user-data {
                        display: flex;
                        align-items: center;

                        span {
                            font-size: 1rem;
                            font-weight: 500;
                        }

                        .user-photo-o {
                            width: 35px;
                            height: 35px;
                            overflow: hidden;
                            background-color: #5e5e5e;
                            border-radius: 25px;
                            margin-right: .7rem;
                        }
                    }

                    p {
                        font-size: 1rem;
                        padding: .7rem 0;
                        color: #5e5e5e;
                        border-bottom: 1px solid #f3f3f3;
                        margin-bottom: .7rem;
                    }

                }
            }

            @media (max-width: 800px) {
                grid-template-columns: 1fr;

                .comments-square {
                    margin-top: 3rem;
                }
            }
        }

    }

    .more {
        h3 {
            font-size: 1.7rem;
            width: 100%;
            padding: 1.5rem 0;
        }

        .aditional-projects {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 2rem;

            div {
                width: 100%;
                height: 200px;
                background-color: rgb(41, 41, 41);
                cursor: pointer;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

                span {
                    color: #ffff;
                    z-index: 20;
                    display: none;
                    transition: .3s ease-out;
                }

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    transition: .3s ease-out;
                }

                &:hover {

                    img {
                        opacity: .4;
                    }

                    span {
                        display: flex;
                    }

                }
            }

            @media (max-width: 1300px) { grid-template-columns: repeat(3, 1fr); }
            @media (max-width: 1060px) { grid-template-columns: 1fr 1fr; }
            @media (max-width: 800px) { grid-template-columns: 1fr; }
        }
    }

}

.update-profile-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
