* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --second-color: #FF4B4B;
    --gray: #dedede;

}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--gray);
    height: 70vh;
}
