* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --second-color: #FF4B4B;
    --gray: #dedede;

}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--gray);
    height: 70vh;
    overflow: hidden;
    position: relative;
}

.header-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: .9;
}

img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.header-content {
    z-index: 5;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.header-content h1 {
    font-size: 2.5rem;
    text-align: center;
}

.header-content p {
    font-size: 1.4rem;
    color: #c8c8c8;
    text-align: center;
}

.search-bar {
    display: flex;
    width: 100%;
    margin: 1rem 0;
}

.search-bar button {
    width: 60px;
    height: 40px;
    background-color: var(--second-color);
    border: none;
}

.search-bar input {
    width: 100%;
    border: none;
    background-color: #ffffff89;
}

.search-bar input::placeholder {
    color: #fff;
}

#categories {
    display: flex;
    padding: 0 3rem;
    width: 100%;
    height: 420px;
}

#categories div {
    width: 0px;
    flex-grow: 1;
    transition: .5s ease;
    background-color: #000;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#categories div img {
    object-fit: cover;
    height: 100%;
    opacity: .8;
    position: absolute;
    top: 0;
    left: 0;
}

#categories div span {
    color: #dedede;
    z-index: 99;
    font-style: italic;
    font-size: 1.4rem;
}

#categories div:hover {
    cursor: crosshair;
    width: 300px;
}

#categories div:hover img {
    opacity: 1;
    filter: contrast(120%);
}

.sub-title {
    width: 100%;
    padding: 3rem;
}

.sub-title h2 {
    font-size: 2rem;
}

.sub-title p {
    font-size: 1.2rem;
    color: #5e5e5e;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Work index section */

#works-index {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 3rem;
    grid-gap: 2rem;
    margin-bottom: 5rem;
}

#works-index > :first-child {
    grid-column: span 2;
}

.work-card .user-picture {
    width: 40px;
    height: 40px;
    background-color: #5e5e5e;
    margin-right: 1rem;
}

.work-card .user-info {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.work {
    width: 100%;
    height: 300px;
    background-color: #c8c8c8;
    position: relative;
    overflow: hidden;
}

.work .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

footer {
    width: 100%;
    background-color: #212121;
    height: 350px;
}

#welcome {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-main-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.welcome-modal {
    width: 60%;
    height: 80%;
    background-color: #000000b7;
    z-index: 7;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome-modal h1 {
    font-size: 3rem;
    text-align: center;
    line-height: 60px;
    margin-bottom: 1.3rem;
}

.welcome-modal p {
    font-size: 1.3rem;
    text-align: center;
    color: #b6b6b6;
}

